<h2>Welcome to Blackjack!</h2> 
<br/>
Before we begin, what is your name?
<br/><br/>
<form action="/game" method="post">
  Name: 
  <br/>
  <input type="text" name="username" />
  <br/>
  <input type="submit" class="btn btn-primary" />
</form>
