<body id="home">
  <h2>Welcome to Blackjack!</h2> 
  <p>Before we begin, what is your name?</p>
  <form action="/new_player" method="post">
  <input type="text" name="player_name" />
  <br/>
  <input type="submit" class="btn btn-primary" value="Submit"/>
  </form>
</body>
