body#bet{
  background-image: url(/images/whitediamond.png);
}

body#game{ 
  background-image: url(/images/whitediamond.png);
}

body#game_over{
  background-image: url(/images/vegas_bye.png);
}

body#home{
  background-image: url(/images/vegas_strip.jpg);
}

div#home_icon{
  text-align: right;
}

form#hit_form {
  float: left;
  margin-right: 10px;
}

form#stand_form {
  float: left;
}

img#card_image {
  margin: 0px 20px 20px 0px;
}